:root {
  --tile-width: 52px;
  --tile-width-half: 26px;
  --tile-height: 30px;
  --tile-height-half: 15px;
  --tile-height-half-neg: -15px;
  --background: rgb(95, 158, 160);
  --background-unknown: rgb(70, 105, 105);
  --background-explored: #62ff5d;
  --background-risky: #3ba837;
  --background-bomb: #cf683f;
}
body {
  background-color: var(--background);
}
#board {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: var(--background);
  margin: auto;
}
#board-bombs,
#board-energy {
  display: inline;
  margin-left: 8px;
}
#board-bombs > p,
#board-energy > p {
  display: inline;
}
#board-bombs > p .value,
#board-energy > p .value {
  font-weight: 500;
  font-size: 24px;
}
#board-bombs > p .group,
#board-energy > p .group {
  border: 1px black dotted;
  margin-right: 8px;
  font-size: 24px;
  padding: 0px 4px;
}
#board-bombs > p .header,
#board-energy > p .header {
  font-weight: 300;
  font-size: 20px;
  font-style: italic;
}
.tile {
  position: absolute;
  text-align: center;
  cursor: pointer;
  align-content: center;
}
.hex:before {
  content: " ";
  width: 0;
  height: 0;
  border-left: var(--tile-width-half) solid transparent;
  border-right: var(--tile-width-half) solid transparent;
  position: absolute;
  top: var(--tile-height-half-neg);
  left: 0;
}
.hex {
  margin-top: var(--tile-height-half);
  margin-bottom: var(--tile-height-half);
  width: var(--tile-width);
  height: var(--tile-height);
  position: relative;
}
.hex:after {
  content: "";
  left: 0;
  width: 0;
  position: absolute;
  bottom: var(--tile-height-half-neg);
  border-left: var(--tile-width-half) solid transparent;
  border-right: var(--tile-width-half) solid transparent;
}
.hex.unknown:before {
  border-bottom: var(--tile-height-half) solid var(--background-unknown);
}
.hex.unknown {
  background-color: var(--background-unknown);
  color: white;
}
.hex.unknown:after {
  border-top: var(--tile-height-half) solid var(--background-unknown);
}

.hex.explored:before {
  border-bottom: var(--tile-height-half) solid var(--background-explored);
}
.hex.explored {
  background-color: var(--background-explored);
}
.hex.explored:after {
  border-top: var(--tile-height-half) solid var(--background-explored);
}

.hex.risky:before {
  border-bottom: var(--tile-height-half) solid var(--background-risky);
}
.hex.risky {
  background-color: var(--background-risky);
}
.hex.risky:after {
  border-top: var(--tile-height-half) solid var(--background-risky);
}

.hex.bomb:before {
  border-bottom: var(--tile-height-half) solid var(--background-bomb);
}
.hex.bomb {
  background-color: var(--background-bomb);
  font-size: 20px;
}
.hex.bomb:after {
  border-top: var(--tile-height-half) solid var(--background-bomb);
}
